<div class="container">
    <div class="container write-post d-flex justify-content-end">
        <button type="button" class="btn btn-outline-primary" (click)="onClickEdit()">
         Edit blog
        </button>
    </div>
    <div class="top-header d-flex justify-content-center m-2">
        <h1> {{ this.getBlog().title || null }} </h1>
    </div>
    <div class="div d-flex justify-content-center m-2">
        <span> {{ this.getBlog().date || null | date }} </span>
    </div>
    <div class="image-container d-flex justify-content-center mb-5">
        <img [src]="this.getBlog().imgUrl != null ? this.getBlog().imgUrl: './assets/image.jpg'"  alt="blog-cover">
    </div>
    <div class="desc-container">
        <p> {{ this.getBlog().description || null }} </p>
    </div>
</div>
