<div class="blog-card" ng-app='app'>
    <h5 class="blog-title">
      {{ blog.title }}
    </h5>

    <span> {{ blog.date | date}} </span>    
    <div class="blog-cover-image">
      <img src="{{ blog.imgUrl }}" alt="blog-img" />
    </div>
    <p class="blog-desc">
       {{ blog.description }}
    </p> 
    <div class="container delete-post center justify-content-end center">
      <!--for delete-->  
        <button type="button" class="btn btn-outline-danger btn-del" 
        (click)="deleteBlog(blog);$event.stopPropagation()">
          Delete blog
        </button>
    </div>
    <p>Rating: 
      <a *ngFor="let item of  blog.starList let i=index " (click)="setRating(i);$event.stopPropagation()">  
        <i class="fa" [ngClass]="{'fa-star-o':item,'fa-star':!item}"></i>   
      </a>
    </p>
</div>
